<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mb-4"><strong>本当に退会しますか？</strong></h2>
      <p class="mb-4">
        退会をするとレビューの投稿や </br>
        すでに投稿をしたレビューの削除、 </br>
        ができなくなります。 </br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 mb-4 mb-md-0">
          <%= link_to "退会する", public_customer_customers_withdraw_path, method: :patch, class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-4">
          <%= link_to "退会しない", public_customer_path(current_customer.id), class: "btn btn-danger btn-block" %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
