<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mb-4"><strong>本当に退会させますか？</strong></h2>
      <p class="mb-4">
        退会させてしまうとそのユーザー </br>
        はもうログインできなくなってしまいます。
      </p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 mb-4 mb-md-0">
          <%= link_to "退会", admin_customer_customers_withdraw_path, method: :patch, class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-4">
          <%= link_to "退会させない", admin_customers_path, class: "btn btn-danger btn-block" %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
