<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% post.each do |post| %>
    <tr>
      <td>
        <%= link_to public_customer_path(post.post_comment.customer) do %>

          <%= post.post_comment.customer.name %>
        <% end %>
      </td>
      <td><%= post.post_comment.comment %></td>
      <td>
        <% if post.post_comment.user == current_customer %>
          <%= link_to "削除", public_post_comment_path(post, post_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
