<footer class="footer mt-auto">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class='container mt-5'>
      <div class='row text-center'>
        <div class='mx-auto'>
          Bogey Busters
        </div>
      </div>
    </div>
  </nav>
</footer>
